<div class="flex flex-col w-screen h-full p-5 !gap-5">
  <div>
    <div class="flex w-full justify-between font-bold">
      <h1>Package List</h1>
      <a href="/dashboard/package">
        <p-button
          label="Create Package"
          size="small"
          outlined="true"
          styleClass="text-pink-500"
        />
      </a>
    </div>

    @switch (packageQuery.status()) {
      @case ('pending') {
        Loading...
      }
      @case ('error') {
        Error: {{ packageQuery.error()?.message }}
      }
      @default {
        <div class="text-pink-500">
          @for (package of packageQuery.data(); track package._id) {
            <p>
              {{ package.description }}
            </p>
          }
        </div>
      }
    }
    <div>
      @if (packageQuery.isFetching()) {
        Background Updating...
      }
    </div>
  </div>

  <div>
    <div class="flex w-full justify-between font-bold">
      <h1>Delivery List</h1>
      <a class="text-blue-700" href="/dashboard/delivery">
        <p-button label="Create Delivery" size="small" outlined="true" />
      </a>
    </div>

    @switch (deliveryQuery.status()) {
      @case ('pending') {
        Loading...
      }
      @case ('error') {
        Error: {{ deliveryQuery.error()?.message }}
      }
      @default {
        <div class="text-blue-900">
          @for (delivery of deliveryQuery.data(); track delivery._id) {
            <p>
              {{ delivery.description }}
            </p>
          }
        </div>
      }
    }
    <div>
      @if (deliveryQuery.isFetching()) {
        Background Updating...
      }
    </div>
  </div>
</div>
<router-outlet></router-outlet>
